In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\bacar'

In [3]:
cd Downloads

C:\Users\bacar\Downloads

### Relevant Links

* Research Inspiration: https://www.mdpi.com/2673-2688/2/2/15 
* GDP per Capita https://data.worldbank.org/indicator/NY.GDP.PCAP.CD 
* Democratic Data https://ourworldindata.org/grapher/political-regime
* World Bank Food Security +21 Indicators https://microdata.worldbank.org/index.php/catalog/3811/data-dictionary

### IMPORT FOOD CRISES DATA

In [128]:
food_crisis_data = pd.read_csv("predicting_food_crises_data.csv")

In [129]:
food_crisis_data.describe()

,admin_code,centx,centy,year,month,fews_ipc,fews_ha,fews_proj_near,fews_proj_near_ha,fews_proj_med,...,et_mean,et_anom,acled_count,acled_fatalities,p_staple_food,area,cropland_pct,pop,ruggedness_mean,pasture_pct
count,183596.000000,183596.000000,183596.000000,183596.000000,183596.000000,40952.000000,29722.000000,33669.000000,31583.000000,33426.000000,...,183483.000000,183483.000000,183596.000000,183596.000000,183596.000000,183596.000000,183596.000000,1.835960e+05,1.835960e+05,183596.000000
mean,626.559380,20.900259,6.530002,2013.088608,6.436709,1.581046,0.073144,1.604621,0.061964,1.595255,...,10.880032,0.268411,0.907825,2.564277,2.249855,14282.751683,29.973322,6.099577e+05,9.637843e+04,49.762943
std,371.209704,29.088189,11.752908,3.799377,3.475846,0.795844,0.260378,0.832873,0.241093,0.846926,...,10.557415,2.264645,5.288885,24.017308,6.807722,28097.405145,25.916670,1.055755e+06,1.272191e+05,26.734641
min,0.000000,-91.931400,-25.961700,2007.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,0.000000,-17.497850,0.000000,0.000000,0.197387,10.297530,0.000000,2.123300e+03,1.339258e+03,0.000000
25%,290.000000,12.019800,0.528649,2010.000000,3.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,1.475383,-0.626830,0.000000,0.000000,0.927994,2198.546000,7.383231,1.331050e+05,1.779550e+04,29.157890
50%,643.500000,29.871810,9.615837,2013.000000,6.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,6.746307,0.010974,0.000000,0.000000,1.138807,5834.551000,24.266930,2.580860e+05,4.588185e+04,52.050925
75%,940.000000,35.772370,13.799030,2016.000000,9.000000,2.000000,0.000000,2.000000,0.000000,2.000000,...,19.709710,1.049515,0.000000,0.000000,1.556133,13339.020000,45.704200,5.829100e+05,1.189211e+05,70.556960
max,1256.000000,71.455950,37.037750,2020.000000,12.000000,5.000000,1.000000,5.000000,1.000000,5.000000,...,47.904190,17.113410,265.000000,2394.000000,139.999100,331292.000000,99.240250,1.405094e+07,1.046065e+06,99.597700

In [130]:
food_crisis_data.head(10)

,country,admin_code,admin_name,centx,centy,year_month,year,month,fews_ipc,fews_ha,...,et_mean,et_anom,acled_count,acled_fatalities,p_staple_food,area,cropland_pct,pop,ruggedness_mean,pasture_pct
0,Afghanistan,202,Kandahar,65.709343,31.043618,2007_01,2007,1,NaN,NaN,...,5.065768,0.173497,0,0,0.630214,54174.53381,1.417796,1161872.35,101047.1587,16.246279
1,Afghanistan,202,Kandahar,65.709343,31.043618,2007_02,2007,2,NaN,NaN,...,8.242891,2.817895,0,0,0.630214,54174.53381,1.417796,1161872.35,101047.1587,16.246279
2,Afghanistan,202,Kandahar,65.709343,31.043618,2007_03,2007,3,NaN,NaN,...,6.728089,2.613962,0,0,0.631055,54174.53381,1.417796,1161872.35,101047.1587,16.246279
3,Afghanistan,202,Kandahar,65.709343,31.043618,2007_04,2007,4,NaN,NaN,...,1.649312,-1.147484,0,0,0.687716,54174.53381,1.417796,1161872.35,101047.1587,16.246279
4,Afghanistan,202,Kandahar,65.709343,31.043618,2007_05,2007,5,NaN,NaN,...,1.178138,-0.137859,0,0,0.743923,54174.53381,1.417796,1161872.35,101047.1587,16.246279
5,Afghanistan,202,Kandahar,65.709343,31.043618,2007_06,2007,6,NaN,NaN,...,1.196692,0.743511,0,0,0.740055,54174.53381,1.417796,1161872.35,101047.1587,16.246279
6,Afghanistan,202,Kandahar,65.709343,31.043618,2007_07,2007,7,NaN,NaN,...,0.559137,0.294109,0,0,0.728323,54174.53381,1.417796,1161872.35,101047.1587,16.246279
7,Afghanistan,202,Kandahar,65.709343,31.043618,2007_08,2007,8,NaN,NaN,...,0.384814,0.030058,0,0,0.751029,54174.53381,1.417796,1161872.35,101047.1587,16.246279
8,Afghanistan,202,Kandahar,65.709343,31.043618,2007_09,2007,9,NaN,NaN,...,0.504307,0.089606,0,0,0.782213,54174.53381,1.417796,1161872.35,101047.1587,16.246279
9,Afghanistan,202,Kandahar,65.709343,31.043618,2007_10,2007,10,NaN,NaN,...,0.361339,-0.107533,0,0,0.793908,54174.53381,1.417796,1161872.35,101047.1587,16.246279

In [131]:
food_crisis_data["country"].unique()

array(['Afghanistan', 'Burkina Faso', 'Chad',
       'Democratic Republic of Congo', 'Ethiopia', 'Guatemala', 'Haiti',
       'Kenya', 'Malawi', 'Mali', 'Mauritania', 'Mozambique', 'Niger',
       'Nigeria', 'Somalia', 'South Sudan', 'Sudan', 'Uganda', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

### IMPORT DEMOCRACY DATA

In [8]:
democracy_data = pd.read_csv("political-regime.csv")

In [9]:
democracy_data

            Entity Code  Year  regime_row_owid
0      Afghanistan  AFG  1789                0
1      Afghanistan  AFG  1790                0
2      Afghanistan  AFG  1791                0
3      Afghanistan  AFG  1792                0
4      Afghanistan  AFG  1793                0
...            ...  ...   ...              ...
30409     Zimbabwe  ZWE  2017                1
30410     Zimbabwe  ZWE  2018                1
30411     Zimbabwe  ZWE  2019                1
30412     Zimbabwe  ZWE  2020                1
30413     Zimbabwe  ZWE  2021                1

[30414 rows x 4 columns]

In [355]:
democracy_data.rename(columns={'Code': 'code', 'Year': 'year', 'regime_row_owid': 'political_regime'}, inplace=True)

In [356]:
democracy_data= democracy_data.drop(['Entity'], axis=1)

In [357]:
democracy_data

      code  year  political_regime
0      AFG  1789                 0
1      AFG  1790                 0
2      AFG  1791                 0
3      AFG  1792                 0
4      AFG  1793                 0
...    ...   ...               ...
30409  ZWE  2017                 1
30410  ZWE  2018                 1
30411  ZWE  2019                 1
30412  ZWE  2020                 1
30413  ZWE  2021                 1

[30414 rows x 3 columns]

### IMPORT GDP PER CAPITA DATA

In [239]:
gdp_per_capita_raw = pd.read_csv("API_NY.GDP.PCAP.CD_DS2_en_csv_v2_3930492.csv")

In [240]:
list_ = gdp_per_capita_raw.columns

In [241]:
years = list(list_[4:])

In [242]:
years

['1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020']

In [243]:
gdp_per_capita_raw

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.013920,24712.493260,26441.619940,26893.011510,28396.908420,28452.170610,29350.805020,30253.279360,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,...,1770.736230,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224
2,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,...,591.190030,638.845852,624.315454,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871
3,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,...,1862.308267,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363
4,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468219,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3540.891789,3410.859780,3704.784221,3902.676013,3520.766449,3759.560246,4009.380987,4384.048892,4416.108358,4346.637931
262,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1374.621401,1446.536472,1607.152173,1674.002572,1601.830063,1152.720966,964.264811,758.145242,NaN,NaN
263,South Africa,ZAF,GDP per capita (current US$),NY.GDP.PCAP.CD,443.009920,454.962013,473.011405,511.497364,548.996058,584.704163,...,8810.930651,8222.197279,7467.079185,6988.808739,6259.839681,5756.965741,6690.939847,7005.095413,6624.761865,5655.867654
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,232.188565,220.042067,212.578449,213.896759,242.384473,303.281740,...,1672.907535,1763.069442,1878.346811,1762.427817,1338.290927,1280.806543,1535.196574,1516.368371,1305.001031,985.132436
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,278.813847,280.828663,276.688233,277.479715,281.558896,293.308788,...,1093.653409,1304.968011,1429.998461,1434.896277,1445.069702,1464.588957,1235.189032,1254.642265,1316.740657,1214.509820

In [244]:
gdp_per_capita = gdp_per_capita_raw.melt(id_vars=['Country Name','Country Code'], value_vars=years)

In [245]:
gdp_per_capita.rename(columns={'Country Name': 'country', 'Country Code':'code', 'variable':'year', 'value':'gdp_per_capita'}, inplace=True)

In [246]:
gdp_per_capita.columns

Index(['country', 'code', 'year', 'gdp_per_capita'], dtype='object')

### Create a Country Name <> Country Code Lookup

In [247]:
country_lookup = gdp_per_capita[['code', 'country','gdp_per_capita']].groupby(['country', 'code']).mean()

In [248]:
country_lookup=country_lookup.reset_index()

In [249]:
country_lookup = country_lookup[['code','country']]

In [250]:
country_lookup['country'].unique()

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Faroe Islands', 'Fiji', 'Finland',
       'Fragile and conflict affected situations', 'France',
       'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Not classified',
       'OECD members', 'Oman', 'Other small states',
       'Pacific island small states', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Small states', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [251]:
country_lookup = country_lookup.replace('Yemen, Rep.','Yemen')
country_lookup = country_lookup.replace('Congo, Dem. Rep.','Democratic Republic of Congo')

In [252]:
country_lookup['country'].unique()

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Democratic Republic of Congo', 'Congo, Rep.', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Early-demographic dividend',
       'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Faroe Islands', 'Fiji', 'Finland',
       'Fragile and conflict affected situations', 'France',
       'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Not classified',
       'OECD members', 'Oman', 'Other small states',
       'Pacific island small states', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Small states', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

### Add country code to the food_crisis_data for joining

In [253]:
food_crisis_data['country'].unique()

array(['Afghanistan', 'Burkina Faso', 'Chad',
       'Democratic Republic of Congo', 'Ethiopia', 'Guatemala', 'Haiti',
       'Kenya', 'Malawi', 'Mali', 'Mauritania', 'Mozambique', 'Niger',
       'Nigeria', 'Somalia', 'South Sudan', 'Sudan', 'Uganda', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [254]:
food_crisis_data_admincode = pd.merge(food_crisis_data, country_lookup,on='country',how="left")

In [255]:
food_crisis_data_admincode['code'].unique()

array(['AFG', 'BFA', 'TCD', 'COD', 'ETH', 'GTM', 'HTI', 'KEN', 'MWI',
       'MLI', 'MRT', 'MOZ', 'NER', 'NGA', 'SOM', 'SSD', 'SDN', 'UGA',
       'YEM', 'ZMB', 'ZWE'], dtype=object)

In [256]:
food_crisis_data.shape

(183596, 28)

In [257]:
food_crisis_data_admincode.shape

(183596, 29)

### EDIT FOOD CRISIS DATA

In [258]:
food_crisis_data_admincode.columns

Index(['country', 'admin_code', 'admin_name', 'centx', 'centy', 'year_month',
       'year', 'month', 'fews_ipc', 'fews_ha', 'fews_proj_near',
       'fews_proj_near_ha', 'fews_proj_med', 'fews_proj_med_ha', 'ndvi_mean',
       'ndvi_anom', 'rain_mean', 'rain_anom', 'et_mean', 'et_anom',
       'acled_count', 'acled_fatalities', 'p_staple_food', 'area',
       'cropland_pct', 'pop', 'ruggedness_mean', 'pasture_pct', 'code'],
      dtype='object')

In [259]:
# fews_ipc is the target variable. Remove all rows with no data 
food_crisis_data_admincode['fews_ipc'].unique()

array([nan,  1.,  2.,  3.,  4.,  5.])

In [260]:
food_crisis_data_admincode.groupby(['fews_ipc'])['fews_ipc'].size()

fews_ipc
1.0    24162
2.0    10736
3.0     5131
4.0      895
5.0       28
Name: fews_ipc, dtype: int64

In [261]:
food_crisis_data_admincode['fews_ipc'].isna().sum()

142644

In [262]:
food_crisis_data_admincode.shape

(183596, 29)

In [263]:
food_crisis_editted = food_crisis_data_admincode[food_crisis_data_admincode['fews_ipc'].notna()]

In [264]:
food_crisis_editted['country'][food_crisis_editted["code"].isna()==True].unique()

array([], dtype=object)

In [265]:
food_crisis_editted.shape[0]

40952

In [266]:
food_crisis_editted['fews_ipc'].isna().sum()

0

In [267]:
food_crisis_editted.columns

Index(['country', 'admin_code', 'admin_name', 'centx', 'centy', 'year_month',
       'year', 'month', 'fews_ipc', 'fews_ha', 'fews_proj_near',
       'fews_proj_near_ha', 'fews_proj_med', 'fews_proj_med_ha', 'ndvi_mean',
       'ndvi_anom', 'rain_mean', 'rain_anom', 'et_mean', 'et_anom',
       'acled_count', 'acled_fatalities', 'p_staple_food', 'area',
       'cropland_pct', 'pop', 'ruggedness_mean', 'pasture_pct', 'code'],
      dtype='object')

In [268]:
for column in food_crisis_editted.columns:
    num_nulls = food_crisis_editted[column].isna().sum()
    print("COLUMN", column,"has", num_nulls, "nulls; % is", num_nulls/food_crisis_editted.shape[0])

COLUMN country has 0 nulls; % is 0.0
COLUMN admin_code has 0 nulls; % is 0.0
COLUMN admin_name has 0 nulls; % is 0.0
COLUMN centx has 0 nulls; % is 0.0
COLUMN centy has 0 nulls; % is 0.0
COLUMN year_month has 0 nulls; % is 0.0
COLUMN year has 0 nulls; % is 0.0
COLUMN month has 0 nulls; % is 0.0
COLUMN fews_ipc has 0 nulls; % is 0.0
COLUMN fews_ha has 11230 nulls; % is 0.27422348114866185
COLUMN fews_proj_near has 7351 nulls; % is 0.17950283258448915
COLUMN fews_proj_near_ha has 9437 nulls; % is 0.23044051572572768
COLUMN fews_proj_med has 7594 nulls; % is 0.1854366087126392
COLUMN fews_proj_med_ha has 9680 nulls; % is 0.2363742918538777
COLUMN ndvi_mean has 0 nulls; % is 0.0
COLUMN ndvi_anom has 0 nulls; % is 0.0
COLUMN rain_mean has 0 nulls; % is 0.0
COLUMN rain_anom has 0 nulls; % is 0.0
COLUMN et_mean has 9 nulls; % is 0.00021976948622777885
COLUMN et_anom has 9 nulls; % is 0.00021976948622777885
COLUMN acled_count has 0 nulls; % is 0.0
COLUMN acled_fatalities has 0 nulls; % is 0.0
COLUMN p_staple_food has 0 nulls; % is 0.0
COLUMN area has 0 nulls; % is 0.0
COLUMN cropland_pct has 0 nulls; % is 0.0
COLUMN pop has 0 nulls; % is 0.0
COLUMN ruggedness_mean has 0 nulls; % is 0.0
COLUMN pasture_pct has 0 nulls; % is 0.0
COLUMN code has 0 nulls; % is 0.0

In [269]:
food_crisis_editted= food_crisis_editted.drop(['year_month','admin_code'], axis=1)

### JOIN ALL DATASETS TOGETHER

In [270]:
food_crisis_editted.shape

(40952, 27)

In [271]:
food_crisis_editted.head()

,country,admin_name,centx,centy,year,month,fews_ipc,fews_ha,fews_proj_near,fews_proj_near_ha,...,et_anom,acled_count,acled_fatalities,p_staple_food,area,cropland_pct,pop,ruggedness_mean,pasture_pct,code
30,Afghanistan,Kandahar,65.709343,31.043618,2009,7,1.0,NaN,NaN,NaN,...,-0.073903,0,0,1.065669,54174.53381,1.417796,1241226.0,101047.1587,16.246279,AFG
33,Afghanistan,Kandahar,65.709343,31.043618,2009,10,1.0,NaN,NaN,NaN,...,0.225598,0,0,1.100531,54174.53381,1.417796,1241226.0,101047.1587,16.246279,AFG
36,Afghanistan,Kandahar,65.709343,31.043618,2010,1,2.0,NaN,NaN,NaN,...,-1.450951,0,0,0.988390,54174.53381,1.417796,1280853.0,101047.1587,16.246279,AFG
39,Afghanistan,Kandahar,65.709343,31.043618,2010,4,2.0,NaN,NaN,NaN,...,-0.771469,0,0,0.992492,54174.53381,1.417796,1280853.0,101047.1587,16.246279,AFG
42,Afghanistan,Kandahar,65.709343,31.043618,2010,7,1.0,NaN,NaN,NaN,...,0.026441,0,0,1.024889,54174.53381,1.417796,1280853.0,101047.1587,16.246279,AFG

In [272]:
gdp_per_capita.head()

                       country code  year  gdp_per_capita
0                        Aruba  ABW  1960             NaN
1  Africa Eastern and Southern  AFE  1960      147.612227
2                  Afghanistan  AFG  1960       59.773234
3   Africa Western and Central  AFW  1960      107.932233
4                       Angola  AGO  1960             NaN

In [273]:
gdp_per_capita= gdp_per_capita.drop(['country'], axis=1)

In [274]:
gdp_per_capita

      code  year  gdp_per_capita
0      ABW  1960             NaN
1      AFE  1960      147.612227
2      AFG  1960       59.773234
3      AFW  1960      107.932233
4      AGO  1960             NaN
...    ...   ...             ...
16221  XKX  2020     4346.637931
16222  YEM  2020             NaN
16223  ZAF  2020     5655.867654
16224  ZMB  2020      985.132436
16225  ZWE  2020     1214.509820

[16226 rows x 3 columns]

In [179]:
democracy_data.head()

        Entity Code  Year  regime_row_owid
0  Afghanistan  AFG  1789                0
1  Afghanistan  AFG  1790                0
2  Afghanistan  AFG  1791                0
3  Afghanistan  AFG  1792                0
4  Afghanistan  AFG  1793                0

In [289]:
type(food_crisis_editted['year'].iloc[0])

numpy.int64

In [290]:
type(gdp_per_capita['year'].iloc[0])

str

In [291]:
gdp_per_capita['year']=gdp_per_capita['year'].astype(int)

In [325]:
merge_step1 = food_crisis_editted.merge(gdp_per_capita, on=['code','year'], how="inner")

In [326]:
merge_step1.shape

(40952, 28)

In [327]:
merge_step1.head(15)

,country,admin_name,centx,centy,year,month,fews_ipc,fews_ha,fews_proj_near,fews_proj_near_ha,...,acled_count,acled_fatalities,p_staple_food,area,cropland_pct,pop,ruggedness_mean,pasture_pct,code,gdp_per_capita
0,Afghanistan,Kandahar,65.709343,31.043618,2009,7,1.0,NaN,NaN,NaN,...,0,0,1.065669,54174.533810,1.417796,1241226.0,101047.1587,16.246279,AFG,437.26874
1,Afghanistan,Kandahar,65.709343,31.043618,2009,10,1.0,NaN,NaN,NaN,...,0,0,1.100531,54174.533810,1.417796,1241226.0,101047.1587,16.246279,AFG,437.26874
2,Afghanistan,Kapisa,69.622616,34.962896,2009,7,1.0,NaN,NaN,NaN,...,0,0,1.056354,1883.013256,14.307914,449665.0,481723.7436,57.037037,AFG,437.26874
3,Afghanistan,Kapisa,69.622616,34.962896,2009,10,1.0,NaN,NaN,NaN,...,0,0,1.054180,1883.013256,14.307914,449665.0,481723.7436,57.037037,AFG,437.26874
4,Afghanistan,Khost,69.833731,33.377455,2009,7,1.0,NaN,NaN,NaN,...,0,0,1.042789,4287.822073,30.173692,541623.0,249067.0191,39.850000,AFG,437.26874
5,Afghanistan,Khost,69.833731,33.377455,2009,10,1.0,NaN,NaN,NaN,...,0,0,1.078069,4287.822073,30.173692,541623.0,249067.0191,39.850000,AFG,437.26874
6,Afghanistan,Kunar,71.094069,34.966034,2009,7,1.0,NaN,NaN,NaN,...,0,0,0.997434,4848.631735,24.047756,437818.0,624058.8794,22.764706,AFG,437.26874
7,Afghanistan,Kunar,71.094069,34.966034,2009,10,1.0,NaN,NaN,NaN,...,0,0,1.083688,4848.631735,24.047756,437818.0,624058.8794,22.764706,AFG,437.26874
8,Afghanistan,Kunduz,68.746534,36.843172,2009,7,1.0,NaN,NaN,NaN,...,0,0,1.061822,7905.345005,33.186480,1056934.0,81527.8309,33.324561,AFG,437.26874
9,Afghanistan,Kunduz,68.746534,36.843172,2009,10,1.0,NaN,NaN,NaN,...,0,0,1.067315,7905.345005,33.186480,1056934.0,81527.8309,33.324561,AFG,437.26874
10,Afghanistan,Laghman,70.159684,34.764206,2009,7,1.0,NaN,NaN,NaN,...,0,0,0.995231,3837.947922,14.256446,435622.0,465698.9640,37.175439,AFG,437.26874
11,Afghanistan,Laghman,70.159684,34.764206,2009,10,1.0,NaN,NaN,NaN,...,0,0,1.077744,3837.947922,14.256446,435622.0,465698.9640,37.175439,AFG,437.26874
12,Afghanistan,Logar,69.168478,34.013495,2009,7,1.0,NaN,NaN,NaN,...,0,0,1.058294,4399.668099,5.021531,398934.0,266887.2536,63.812500,AFG,437.26874
13,Afghanistan,Logar,69.168478,34.013495,2009,10,1.0,NaN,NaN,NaN,...,0,0,1.067804,4399.668099,5.021531,398934.0,266887.2536,63.812500,AFG,437.26874
14,Afghanistan,Nangarhar,70.473536,34.273812,2009,7,1.0,NaN,NaN,NaN,...,0,0,0.934030,7370.309926,20.361631,1520206.0,288773.4174,52.471154,AFG,437.26874

In [328]:
merge_step1['gdp_per_capita'].isna().sum()

2252

In [329]:
merge_step1['code'][merge_step1["gdp_per_capita"].isna()==True].unique()

array(['SOM', 'SSD', 'YEM'], dtype=object)

In [335]:
food_crisis_editted['code'].unique()

array(['AFG', 'BFA', 'TCD', 'COD', 'ETH', 'GTM', 'HTI', 'KEN', 'MWI',
       'MLI', 'MRT', 'MOZ', 'NER', 'NGA', 'SOM', 'SSD', 'SDN', 'UGA',
       'YEM', 'ZMB', 'ZWE'], dtype=object)

In [336]:
gdp_per_capita['gdp_per_capita'][gdp_per_capita['code']=='SSD'].unique()

array([        nan, 1669.493752, 1337.882231, 1535.706892, 1516.404378,
       1179.739711, 1779.470365, 1322.820364, 1119.651437])

In [350]:
merge_step1[['code', 'year', 'gdp_per_capita']][merge_step1['code']=='SSD'].groupby(['code','year']).mean()

           gdp_per_capita
code year
SSD  2009     1337.882231
     2010     1535.706892
     2011     1516.404378
     2012     1179.739711
     2013     1779.470365
     2014     1322.820364
     2015     1119.651437
     2016             NaN
     2017             NaN
     2018             NaN
     2019             NaN
     2020             NaN

In [351]:
gdp_per_capita[['code', 'year', 'gdp_per_capita']][gdp_per_capita['code']=='SSD'].groupby(['code','year']).mean().tail(15)

           gdp_per_capita
code year
SSD  2006             NaN
     2007             NaN
     2008     1669.493752
     2009     1337.882231
     2010     1535.706892
     2011     1516.404378
     2012     1179.739711
     2013     1779.470365
     2014     1322.820364
     2015     1119.651437
     2016             NaN
     2017             NaN
     2018             NaN
     2019             NaN
     2020             NaN

In [358]:
merge_step2 = merge_step1.merge(democracy_data, on=['code','year'], how="left")

In [359]:
merge_step2

,country,admin_name,centx,centy,year,month,fews_ipc,fews_ha,fews_proj_near,fews_proj_near_ha,...,acled_fatalities,p_staple_food,area,cropland_pct,pop,ruggedness_mean,pasture_pct,code,gdp_per_capita,political_regime
0,Afghanistan,Kandahar,65.709343,31.043618,2009,7,1.0,NaN,NaN,NaN,...,0,1.065669,54174.533810,1.417796,1241226.0,101047.1587,16.246279,AFG,437.26874,1
1,Afghanistan,Kandahar,65.709343,31.043618,2009,10,1.0,NaN,NaN,NaN,...,0,1.100531,54174.533810,1.417796,1241226.0,101047.1587,16.246279,AFG,437.26874,1
2,Afghanistan,Kapisa,69.622616,34.962896,2009,7,1.0,NaN,NaN,NaN,...,0,1.056354,1883.013256,14.307914,449665.0,481723.7436,57.037037,AFG,437.26874,1
3,Afghanistan,Kapisa,69.622616,34.962896,2009,10,1.0,NaN,NaN,NaN,...,0,1.054180,1883.013256,14.307914,449665.0,481723.7436,57.037037,AFG,437.26874,1
4,Afghanistan,Khost,69.833731,33.377455,2009,7,1.0,NaN,NaN,NaN,...,0,1.042789,4287.822073,30.173692,541623.0,249067.0191,39.850000,AFG,437.26874,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40947,Zimbabwe,Gweru,29.649800,-19.459930,2020,2,2.0,1.0,2.0,1.0,...,0,1.962246,6207.875000,21.402340,328670.3,78610.3000,59.012990,ZWE,1214.50982,1
40948,Zimbabwe,Kwekwe,29.560830,-18.873720,2020,2,2.0,1.0,2.0,1.0,...,0,1.897256,8840.912000,31.198770,409829.8,62377.7600,49.907410,ZWE,1214.50982,1
40949,Zimbabwe,Mberengwa,30.016380,-20.750240,2020,2,3.0,0.0,3.0,0.0,...,0,1.974385,4999.143000,34.580420,238329.7,204574.7000,58.540980,ZWE,1214.50982,1
40950,Zimbabwe,Shurugwi,30.146710,-19.749650,2020,2,3.0,0.0,3.0,0.0,...,0,1.920051,3642.029000,15.979920,130831.7,138914.8000,55.911110,ZWE,1214.50982,1
40951,Zimbabwe,Zvishavane,30.077970,-20.284340,2020,2,2.0,1.0,2.0,1.0,...,0,1.777084,2640.704000,18.077180,159843.9,177041.2000,50.382350,ZWE,1214.50982,1

In [360]:
merge_step2['code'][merge_step2["political_regime"].isna()==True].unique()

array([], dtype=object)

In [361]:
merge_step2.groupby(['political_regime'])['political_regime'].size()

political_regime
0     6846
1    22795
2    11311
Name: political_regime, dtype: int64

In [362]:
merge_step2.groupby(['fews_ipc'])['fews_ipc'].size()

fews_ipc
1.0    24162
2.0    10736
3.0     5131
4.0      895
5.0       28
Name: fews_ipc, dtype: int64